.component-background {
    padding: 1.6rem;
    border-radius: 0.25rem;

    @include media-breakpoint-down(sm) {
        margin-bottom: -1 * $grid-gutter-width;
        margin-left: -.8rem;
        margin-right: -.8rem;
        padding: .8rem;
    }

    &[data-background='white'] {
        background: #fff;
    }
}
