.button-icon {
    @include size(3.2rem);
    @include interact(color, $primary);

    display: flex;
    justify-content: center;
    align-items: center;
    background: $gray-300;
    font-size: 0;
    color: $gray-700;

    @include media-breakpoint-up(md) {
        @include size(4.8rem);
    }

    &.disabled {
        opacity: .75;
        pointer-events: none;
    }

    &.remove {
        @include interact(color, $red);
    }

    &.size-sm {
        @include size(2rem);

        > .mdi {
            @include font(1.6rem, 1.6rem);
        }

    }

    &--size-48 {
        @include size(4.8rem);

        min-width: 4.8rem;

        @include media-breakpoint-up(md) {
            @include size(4.8rem);
        }
    }

    &--size-btn {
        @include size(4.4rem);

        min-width: 4.8rem;

        @include media-breakpoint-up(md) {
            @include size(4.8rem);
        }
    }

    > .mdi {
        @include font(2rem, 2rem);

        padding-top: 1px;

        @include media-breakpoint-up(md) {
            @include font(2.4rem, 2.4rem);
        }
    }
}

.button-social-network {
    @include size(3.2rem);
    @include interact(color, $primary);

    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background: $gray-400;
    color: $gray-700;

    @include media-breakpoint-up(md) {
        @include size(6.4rem);

        .size-md & {
            @include size(4.2rem);
        }
    }
}

a {
    @include interact(color, $primary, 'hover .button-icon');
}
