.comments {
    .comment {
        &:not(:last-child) {
            margin-bottom: 3.2rem;
        }
    }
}

.comment {
    &-user-image {
        @include size(4rem);

        position: relative;

        > img {
            position: absolute;
            top: 0;
            left: 0;
            object-fit: cover;
            vertical-align: top;
        }
    }

    &-description,
    &-action {
        padding-left: 4.6rem;
    }
}
