.region-carousel-content-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 76%;

    > article {
        padding: 1.2rem;

        @include media-breakpoint-down(md) {
            > h2,
            > h3,
            > h4,
            > h5 {
                font-size: $font-size-base;
            }

            > p {
                font-size: $font-size-sm;
            }
        }

        @include media-breakpoint-up(md) {
            padding: 3.2rem;
        }
    }
}

