@charset "UTF-8";

.site-footer {
    background-image: linear-gradient(88deg, #007ce0, #00a6f1);

    &-content {
        color: #fff;

        > a {
            @include interact(color, $primary);

            color: $gray-900;
        }
    }

}
