.tape {
    .tape-card {
        &:not(:last-child) {
            margin-bottom: 3.2rem;
        }
    }
}

.tape-card {
    @include interact(color, inherit);
    @include interact(background, $primary, "hover .region-card-title::after");
    @include interact(text-decoration, none);

    border-radius: $border-radius;
    background: #fff;
    color: inherit;
    box-shadow: 0 1px 1px 0 rgba(0,0,0,.06);
    transition: box-shadow $transition-base;

    &:hover {
        box-shadow: 0 2px 6px rgba(0,0,0,0.1);
    }

    &-title {
        position: relative;

        &::after {
            position: absolute;
            left: 0;
            bottom: 0;
            transform: translateY(100%);
            height: .2rem;
            width: 3.2rem;
            background: $dark;
            transition: background $transition-base;
            content: "";
        }
    }
}
