.wysiwyg {
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        &:not(:first-child) {
            margin-top: 2.4rem;
        }
    }

    > figure {
        > img {
            display: block;
            margin: 0 auto;
        }
        > figcaption {
            text-align: center;
            margin-top: 1rem;
            font-size: $font-size-sm;
            color: $gray-500;
        }
    }

    > blockquote {
        position: relative;
        margin: 2.4rem 0;
        padding-bottom: 3.2rem;

        > p,
        > site {
            color: $gray-500;
        }

        > p {
            padding: 2.4rem 3.2rem 0;
            font-size: $font-size-lg;
        }

        > site {
            padding: 0 3.2rem 0;
        }

        &::after,
        &::before {
            @include size(2.4rem);

            position: absolute;
            background: {
                position: 50%;
                size: contain;
                repeat: no-repeat;
                image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACwAAAAcCAYAAAAa/l2sAAAACXBIWXMAABYlAAAWJQFJUiTwAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAFkSURBVHgB7ZdBTsJAFIb/IVJd9gj1Bi5tCInVeA7xBHoD6Q3kBPYGLF1pWaiw0xvYI7gW9fmGdAFx2jdOmQXJfElDYF7ol/f3DYN6fFoQtoFCdTo4PjQt8T3e+SXBFuhhxwjCvgnCvgnCvgnCvgnCvgnCvgnCvtnja2ZRl0A6zxI+GpdIvSlFFdqJ+ToSavjYLXBfzpP9viohCBNRfjZMx3DE5pDPsoX4SBxEvQvI/xaqLrIPz/MRbBJcUt4qrLvLnRtDgBTlcGRavsaK1I1UR6BJlqVVq3DUl78IuruDtIAjcfR5hX8k2Cisu8vPzAgCakkZHHFJsFGYB20KAT0EOiY44pKgUbgeAnGL0UMAR2wT/Ca6XH9vFLYaAt7GunSXE7yTanSC58N0tv7ZH+HyZWE1BL0vFHCkTvBELDQkuCG8GoIfXENAD0GX7toliInpHhvC9RAkaKfTNmb1I7FKkG5NC7/Jj4czUaiv2AAAAABJRU5ErkJggg==');
            };
            content: "";
        }

        &::before {
            top: 0;
            left: 0;
        }

        &::after {
            bottom: 0;
            right: 0;
        }
    }

    // slider
    &__slider {
        margin: 3.2rem auto;
    }


    // Video
    &__video {
        display: block;
        margin: 3.2rem auto;
        max-width: 72rem;

        > div {
            position: relative;
            padding-bottom: 56.25%; // 16:9
            height: 0;

            > iframe {
                @include size(100%);

                position: absolute;
                top: 0;
                left: 0;
            }
        }
    }

    &__link-list {
        margin: 3.2rem 0;
        font-weight: 600;

        @include media-breakpoint-up(sm) {
            padding-left: 3.2rem;
        }

        > li {
            position: relative;
            padding-left: 3.2rem;

            &:not(:last-child) {
                margin-bottom: .8rem;
            }

            &::before {
                position: absolute;
                top: -.6rem;
                left: 0;
                display: inline-block;
                font: normal normal normal 32px/1 "Material Design Icons";
                font-size: 2.4rem;
                text-rendering: auto;
                line-height: inherit;
                -webkit-font-smoothing: antialiased;
                color: $gray-500;
                content: "\F219";
            }
        }
    }
}
