@charset "UTF-8";

@function strip-units($number) {
    @return $number / ($number * 0 + 1);
}

// Media queries
@mixin mq-custom($mq-range, $mq-breakpoint, $mq-device: $enable-mq-device) {
    $device: "";
    @if $mq-device == true {
        $device: "-device";
    }

    @media all and (#{$mq-range}#{$device}-width: $mq-breakpoint) {
        @content;
    }
}

// Col size
@mixin col-size($size) {
    width: $size * 100%;
}

// Col center
@mixin col-center {
    margin-right: auto;
    margin-left: auto;
}

// Ellipsis
// https://github.com/thoughtbot/bourbon/blob/master/core/bourbon/library/_ellipsis.scss
@mixin ellipsis($width: 100%, $display: inline-block) {
    display: $display;
    max-width: $width;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    word-wrap: normal;
}

// Font
@mixin font($font-size, $line-height: $font-size) {
    font-size: $font-size;
    line-height: strip-units($line-height) / strip-units($font-size);
}

// Interact
@mixin interact($properties-list, $values-list, $state: hover) {
    $properties-length: length($properties-list);
    $values-length: length($values-list);

    @if $properties-length == $values-length {
        .mod_no-touchevents & {
            @if $enable-interact-multiple == true {
                &:#{$state},
                &.#{$state} {
                    @for $i from 1 through $properties-length {
                        #{nth($properties-list, $i)}: nth($values-list, $i);
                    }
                }
            } @else {
                &:#{$state} {
                    @for $i from 1 through $properties-length {
                        #{nth($properties-list, $i)}: nth($values-list, $i);
                    }
                }
            }
        }
    }
}

// Size
@mixin size($width, $height: $width) {
    width: $width;
    height: $height;
}
