aside.col-12.col-lg-4.col-xl-3.mt-5.mt-md-0
    .tape-aside.component-background.text-md-center(data-background='white')
        h5.text-uppercase.text-black-50.font-weight-bold Категории идей
        ul.list-inline.mb-0.mr-auto
            li.mb-1: a(href='#') Все идеи
            li.mb-1: a(href='#') п. Чегдомын
            li.mb-1: a.disabled(href='#') п. Ванино

        //hr.my-3.ml-0.my-md-4.ml-md-auto.text-primary(style='width: 3rem; border: 1px solid')
        //
        //h5.text-uppercase.text-black-50.font-weight-bold У вас есть идея?
        //p.mb-3.text-black-50 Lorem ipsum dolor sit amet, consectetur&nbsp;adipiscing&nbsp;elit:
        //button.btn.btn-primary(type='button' data-toggle="modal" data-target="#add-idea") Добавить идею

        hr.my-3.ml-0.my-md-4.ml-md-auto.mr-md-auto.d-md-block.text-primary(style='width: 3rem; border: 1px solid')

        h5.text-uppercase.text-black-50.font-weight-bold Расскажите друзьям
        p.mb-3.text-black-50 Поделитесь ссылкой&nbsp;на&nbsp;эту&nbsp;страницу:
        +social_button_grid('size-md justify-content-md-center')
