#carouselExampleIndicators.carousel.slide(data-ride='carousel')
    ol.carousel-indicators
        li.active(data-target='#carouselExampleIndicators', data-slide-to='0')
        li(data-target='#carouselExampleIndicators', data-slide-to='1')
        li(data-target='#carouselExampleIndicators', data-slide-to='2')
    .carousel-inner
        .carousel-item.carousel-item--content.active
            img.d-block.w-100(src='img/region-slider/1.jpg', alt='First slide')
            .region-carousel-content-box
                article.text-white.text-center
                    .lead.mb-1.mb-md-3.font-weight-bold Новая идея
                    h2.display-2.mb-1.mb-md-3 Благоустройство парка «Семейный» по ул. Парковая
                    a.btn.btn-primary(href='#') Проголосовать

        .carousel-item.carousel-item--content
            img.d-block.w-100(src='img/region-slider/2.jpg', alt='Second slide')
            .region-carousel-content-box
                article.text-white.text-center
                    .lead.mb-1.mb-md-3.font-weight-bold Новая идея
                    h2.display-2.mb-1.mb-md-3 Строительство горнолыжного спуска в районе реки Сатанки
                    a.btn.btn-primary(href='#') Проголосовать

        .carousel-item.carousel-item--content
            img.d-block.w-100(src='img/region-slider/3.jpg', alt='Third slide')
            .region-carousel-content-box
                article.text-white.text-center
                    .lead.mb-1.mb-md-3.font-weight-bold Новая идея
                    h2.display-2.mb-1.mb-md-3 Благоустройство прилегающей территории кинотеатра «Ургал»
                    a.btn.btn-primary(href='#') Проголосовать

    a.carousel-control-prev(href='#carouselExampleIndicators', role='button', data-slide='prev')
        i.mdi.mdi-chevron-left(aria-hidden='true')
        | Previous
    a.carousel-control-next.icon(href='#carouselExampleIndicators', role='button', data-slide='next')
        i.mdi.mdi-chevron-right(aria-hidden='true')
        span.sr-only
        | Next
