footer.site-footer.pt-3
    .container
        p.site-footer-content.mb-2
            | © Общественный форум,
            script.
                document.write(new Date().getFullYear());
            |.

        div.site-footer-line.d-flex
            div.col-4
            div.col-4
            div.col-4
