footer.site-footer.pt-3
    .container
        p.site-footer-content.mb-2
            | © Общественный форум СУЭК,
            script.
                document.write(new Date().getFullYear());
            |.

            | Работает на платформе
            a(href='#' target='_blank') &nbsp;Conceptor

        div.site-footer-line.d-flex
            div.col-4
            div.col-4
            div.col-4
