mixin social_button_grid(modifier)

    .d-flex.mt-2(class=modifier)

        a.button-social-network.mr-1(href='#')
            i.mdi.mdi-facebook

        a.button-social-network.mr-1(href='#')
            i.mdi.mdi-twitter

        a.button-social-network.mr-1(href='#')
            i.mdi.mdi-odnoklassniki

        a.button-social-network.mr-1(href='#')
            i.mdi.mdi-at

        a.button-social-network.mr-1(href='#')
            i.mdi.mdi-account-outline
