extends layouts/application

block title
    title Idea

block main
    section.page-promo(style='background-image:url(img/region-bg-blue.jpg)')
        .container
            .no-gutters
                .row
                    .col-lg-8.mb-4
                        .icon-header
                            .icon-header-image
                                img(src='img/regions/chrest@2x.png' alt='')
                            .icon-header-content
                                h1.h1.mb-2 Хабаровский край
                                ul.list-unstyled.font-weight-bold
                                    li п. Чегдомын
                                    li п. Ванино

                    .col-lg-4.mb-4
                        ul.list-unstyled
                            li Население — 27302
                            li Идей на обсуждении — 10
                            li Реализовано идей — 10
                            li Активных голосований — 7


    .section.section--navigate
        .container
            .no-gutters
                .col-lg-8
                    .region-navigate.mt-2
                        ul.list-inline.d-flex.m-0.text-uppercase.lead
                            li.mr-3: a.active(href='region.html') Идеи
                            li.d-none.mr-3: a(href='#') Организации
                            li.mr-3: a(href='news.html') Новости
                            li.d-none.mr-3: a(href='#') Эксперты
                            li: a(href='#') О регионе

    .section.section--fixed-background
        .container
            .row.justify-content-between
                .col-12.col-lg-8.col-xl-9
                    //nav.component-background.mb-3(aria-label='breadcrumb')
                    //    ol.breadcrumb.small
                    //        li.breadcrumb-item.active(aria-current='page')
                    //            a(href='#') Все идеи
                    //        li.breadcrumb-item.active(aria-current='page')
                    //            a(href='#') п. Чегдомын


                    article.component-background(data-background='white')
                        header
                            .text-black-50.mb-2 Хабаровский край / п. Чегдомын
                            h1.h1.mb-3 Строительство горнолыжного спуска в районе реки Сатанки


                        p Строительство горнолыжного спуска в районе реки Сатанки. Сейчас там действует лыжня для любителей зимних видов спорта. Ранее предприниматель из п. Чегдомын изъявлял желание взять данный земельный участок в аренду по программе «Дальневосточный гектар», но отсутствие энергоснабжения его остановило. Как считаете, нужен ли в п. Чегдомын горнолыжный спуск, будет ли услуга пользоваться спросом?

                        figure
                            img(src='img/spusk.jpg', alt='image title')

                        footer

                            //.mt-3
                            //    a.btn.btn-outline-primary.btn-block.mb-2(href='#' style='white-space: normal') Организовать детскую зону
                            //    a.btn.btn-outline-primary.btn-block.mb-2(href='#' style='white-space: normal') Кинотеатр под открытым небом
                            //    a.btn.btn-outline-primary.btn-block.mb-2(href='#' style='white-space: normal') Обустроить пешеходные дорожки
                            //    a.btn.btn-outline-primary.btn-block.mb-2(href='#' style='white-space: normal') Заменить покрытие

                            .mt-3.row
                                .col-6: a.btn.btn-outline-primary.btn-block(href='#') Поддерживаю
                                .col-6: a.btn.btn-outline-primary.btn-block(href='#') Против

                            .mt-3

                                .mb-2
                                    p.text-black-50 За
                                    .d-flex.align-items-center
                                        .progress.flex-grow-1
                                            .progress-bar(role='progressbar', style='width: 30%', aria-valuenow='100', aria-valuemin='0', aria-valuemax='100')

                                        .text-nowrap.ml-2.text-right(style='min-width: 6.4rem')
                                            | 30%
                                            span.text-black-50 &nbsp;(3)

                                .mb-2
                                    p.text-black-50 Против
                                    .d-flex.d-flex.align-items-center
                                        .progress.flex-grow-1
                                            .progress-bar(role='progressbar', style='width: 70%', aria-valuenow='25', aria-valuemin='0', aria-valuemax='100')
                                        .text-nowrap.ml-2.text-right(style='min-width: 6.4rem')
                                            | 70%
                                            span.text-black-50 &nbsp;(7)
                                //
                                //.mb-2
                                //    p.text-black-50 К этой дате планируется приурочить День открытых дверей
                                //    .d-flex.align-items-center
                                //        .progress.flex-grow-1
                                //            .progress-bar(role='progressbar', style='width: 13%', aria-valuenow='50', aria-valuemin='0', aria-valuemax='100')
                                //        .text-nowrap.ml-2.text-right(style='min-width: 6.4rem')
                                //            | 13%
                                //            span.text-black-50 &nbsp;(6)
                                //
                                //.mb-2
                                //    p.text-black-50 Социальная поддержка старшего поколения и ветеранов
                                //    .d-flex.align-items-center
                                //        .progress.flex-grow-1
                                //            .progress-bar(role='progressbar', style='width: 13%', aria-valuenow='75', aria-valuemin='0', aria-valuemax='100')
                                //        .text-nowrap.ml-2.text-right(style='min-width: 6.4rem')
                                //            | 13%
                                //            span.text-black-50 &nbsp;(6)
                                //



                            .mt-3.text-sm-center.font-weight-bold.small Всего 42 голоса


                            .mt-3.text-sm-center.font-weight-bold.small
                                script(type='text/javascript').
                                    (function () {
                                        if (window.pluso) if (typeof window.pluso.start == "function") return;
                                        if (window.ifpluso == undefined) {
                                            window.ifpluso = 1;
                                            var d = document, s = d.createElement('script'), g = 'getElementsByTagName';
                                            s.type = 'text/javascript';
                                            s.charset = 'UTF-8';
                                            s.async = true;
                                            s.src = ('https:' == window.location.protocol ? 'https' : 'http') + '://share.pluso.ru/pluso-like.js';
                                            var h = d[g]('body')[0];
                                            h.appendChild(s);
                                        }
                                    })();
                                .pluso(data-background='transparent', data-options='medium,square,line,horizontal,nocounter,theme=04', data-services='vkontakte,odnoklassniki,facebook,twitter,google')

                    .component-background.mt-4(data-background='white')
                        include components/_comments


                include components/_aside

