extends layouts/application

block title
    title Index

block main
    section.section
        .container
            .no-gutters
                .col-lg-8
                    h2.display-1.text-uppercase Общественный форум
                    p.lead.text-black-50 Платформа для взаимодействия граждан, представителей предпринимательского сообщества и региональных госструктур для реализации социально значимых задач, обсуждения инициатив и оценки мастер-планов по развитию моногородов. Будущее территорий зависит от нас!

        .mt-4
            .container
                .row.region-row
                    .region-col.col-sm-6.col-md-6.col-lg-4.col-xl-3
                        a.region-card.d-block.p-2.p-sm-3(href='#')
                            .d-flex.justify-content-between.align-items-start.mb-1
                                h3.h5.region-card-title.py-1.mb-2.font-weight-bold.text-uppercases Хабаровский<br>край
                                img(src='img/regions/khab-krai.png' alt='Регион')
                            div.mb-2 1 населённых пункт

                            .small.text-black-50
                                ul.list-inline
                                    li Население — 11 960
                                    li Идей на обсуждении - 1
                                    li Реализовано идей - 1
                                    li Активных голосований - 1



                    .region-col.col-sm-6.col-md-6.col-lg-4.col-xl-3
                        a.region-card.d-block.p-2.p-sm-3.disabled(href='#')
                            .d-flex.justify-content-between.align-items-start.mb-1
                                h3.h5.region-card-title.py-1.mb-2.font-weight-bold.text-uppercases Республика<br>Бурятия
                                img(src='img/regions/buryatiya.png' alt='Регион')
                            div.mb-2 1 населённых пункт

                            .small.text-black-50
                                ul.list-inline
                                    li Население - 3985
                                    li Идей на обсуждении - 0
                                    li Реализовано идей - 0
                                    li Активных голосований - 0


                    .region-col.col-sm-6.col-md-6.col-lg-4.col-xl-3
                        a.region-card.d-block.p-2.p-sm-3.disabled(href='#')
                            .d-flex.justify-content-between.align-items-start.mb-1
                                h3.h5.region-card-title.py-1.mb-2.font-weight-bold.text-uppercases Красноярский<br>край
                                img(src='img/regions/krasnoyarsk_krai.png' alt='Регион')
                            div.mb-2 3 населённых пункта

                            .small.text-black-50
                                ul.list-inline
                                    li Население - 67548
                                    li Идей на обсуждении - 0
                                    li Реализовано идей - 0
                                    li Активных голосований - 0x


                    .region-col.col-sm-6.col-md-6.col-lg-4.col-xl-3
                        a.region-card.d-block.p-2.p-sm-3.disabled(href='#')
                            .d-flex.justify-content-between.align-items-start.mb-1
                                h3.h5.region-card-title.py-1.mb-2.font-weight-bold.text-uppercases Кемеровская<br>область
                                img(src='img/regions/Coat_of_arms_of_Kemerovo_Oblast.png' alt='Регион')
                            div.mb-2 3 населённых пунктa

                            .small.text-black-50
                                ul.list-inline
                                    li Население — 384307
                                    li 511 Разрезов и шахт — 0
                                    li Фабрик и установок — 0



                    .region-col.col-sm-6.col-md-6.col-lg-4.col-xl-3
                        a.region-card.d-block.p-2.p-sm-3.disabled(href='#')
                            .d-flex.justify-content-between.align-items-start.mb-1
                                h3.h5.region-card-title.py-1.mb-2.font-weight-bold.text-uppercases Забайкальский<br>Край
                                img(src='img/regions/zabaikal-krai.jpg' alt='Регион')
                            div.mb-2 3 населённых пункта

                            .small.text-black-50
                                ul.list-inline
                                    li Население - 17022
                                    li Идей на обсуждении - 0
                                    li Реализовано идей - 0
                                    li Активных голосований - 0


                    .region-col.col-sm-6.col-md-6.col-lg-4.col-xl-3
                        a.region-card.d-block.p-2.p-sm-3.disabled(href='#')
                            .d-flex.justify-content-between.align-items-start.mb-1
                                h3.h5.region-card-title.py-1.mb-2.font-weight-bold.text-uppercases Приморский<br>край:
                                img(src='img/regions/primorsky_krai.png' alt='Регион')
                            div.mb-2 1 населённых пункт

                            .small.text-black-50
                                ul.list-inline
                                    li Население - 3647
                                    li Идей на обсуждении - 0
                                    li Реализовано идей - 0
                                    li Активных голосований - 0


                    .region-col.col-sm-6.col-md-6.col-lg-4.col-xl-3
                        a.region-card.d-block.p-2.p-sm-3.disabled(href='#')
                            .d-flex.justify-content-between.align-items-start.mb-1
                                h3.h5.region-card-title.py-1.mb-2.font-weight-bold.text-uppercases Республика<br>Хакасия:
                                img(src='img/regions/hakassia.png' alt='Регион')
                            div.mb-2 3 населённых пункта

                            .small.text-black-50
                                ul.list-inline
                                    li Население - 86312
                                    li Идей на обсуждении - 0
                                    li Реализовано идей - 0
                                    li Активных голосований - 0


