extends layouts/application

block title
    title Index

block main
    section.section
        .container
            .no-gutters
                .col-lg-8
                    h2.display-1.text-uppercase Общественный форум
                    p.lead.text-black-50 Система взаимодействия представителей госструктур с гражданами,<br class='d-none d-lg-block'> с целью вовлечения граждан в решение социально-важных задач<br class='d-none d-lg-block'> и оценки мастер-планов развития регионов СУЭК:

        .mt-4
            .container
                .row.region-row
                    .region-col.col-sm-6.col-md-6.col-lg-4.col-xl-3
                        a.region-card.d-block.p-2.p-sm-3(href='#' style='min-height: 60px')
                            .d-flex.justify-content-between.mb-1
                                h3.h5.region-card-title.py-1.mb-2.font-weight-bold.text-uppercases Республика<br>Бурятия
                                img(src='https://via.placeholder.com/54X64/000000/FFFFFF/?text=IPaddress.net' alt='Регион')
                            div.mb-2 7 населённых пунктов

                            .small.text-black-50
                                ul.list-inline
                                    li Население — 984
                                    li 511 Разрезов и шахт — 2
                                    li Фабрик и установок — 1

                    .region-col.col-sm-6.col-md-6.col-lg-4.col-xl-3
                        a.region-card.d-block.p-2.p-sm-3(href='#' style='min-height: 60px')
                            .d-flex.justify-content-between.mb-1
                                h3.h5.region-card-title.py-1.mb-2.font-weight-bold.text-uppercases Республика<br>Бурятия
                                img(src='https://via.placeholder.com/54X64/000000/FFFFFF/?text=IPaddress.net' alt='Регион')
                            div.mb-2 7 населённых пунктов

                            .small.text-black-50
                                ul.list-inline
                                    li Население — 984
                                    li 511 Разрезов и шахт — 2
                                    li Фабрик и установок — 1

                    .region-col.col-sm-6.col-md-6.col-lg-4.col-xl-3
                        a.region-card.d-block.p-2.p-sm-3(href='#' style='min-height: 60px')
                            .d-flex.justify-content-between.mb-1
                                h3.h5.region-card-title.py-1.mb-2.font-weight-bold.text-uppercases Республика<br>Бурятия
                                img(src='https://via.placeholder.com/54X64/000000/FFFFFF/?text=IPaddress.net' alt='Регион')
                            div.mb-2 7 населённых пунктов

                            .small.text-black-50
                                ul.list-inline
                                    li Население — 984
                                    li 511 Разрезов и шахт — 2
                                    li Фабрик и установок — 1

                    .region-col.col-sm-6.col-md-6.col-lg-4.col-xl-3
                        a.region-card.d-block.p-2.p-sm-3(href='#' style='min-height: 60px')
                            .d-flex.justify-content-between.mb-1
                                h3.h5.region-card-title.py-1.mb-2.font-weight-bold.text-uppercases Республика<br>Бурятия
                                img(src='https://via.placeholder.com/54X64/000000/FFFFFF/?text=IPaddress.net' alt='Регион')
                            div.mb-2 7 населённых пунктов

                            .small.text-black-50
                                ul.list-inline
                                    li Население — 984
                                    li 511 Разрезов и шахт — 2
                                    li Фабрик и установок — 1

                    .region-col.col-sm-6.col-md-6.col-lg-4.col-xl-3
                        a.region-card.d-block.p-2.p-sm-3(href='#' style='min-height: 60px')
                            .d-flex.justify-content-between.mb-1
                                h3.h5.region-card-title.py-1.mb-2.font-weight-bold.text-uppercases Республика<br>Бурятия
                                img(src='https://via.placeholder.com/54X64/000000/FFFFFF/?text=IPaddress.net' alt='Регион')
                            div.mb-2 7 населённых пунктов

                            .small.text-black-50
                                ul.list-inline
                                    li Население — 984
                                    li 511 Разрезов и шахт — 2
                                    li Фабрик и установок — 1

                    .region-col.col-sm-6.col-md-6.col-lg-4.col-xl-3
                        a.region-card.d-block.p-2.p-sm-3(href='#' style='min-height: 60px')
                            .d-flex.justify-content-between.mb-1
                                h3.h5.region-card-title.py-1.mb-2.font-weight-bold.text-uppercases Республика<br>Бурятия
                                img(src='https://via.placeholder.com/54X64/000000/FFFFFF/?text=IPaddress.net' alt='Регион')
                            div.mb-2 7 населённых пунктов

                            .small.text-black-50
                                ul.list-inline
                                    li Население — 984
                                    li 511 Разрезов и шахт — 2
                                    li Фабрик и установок — 1
