.btn {
    font-weight: 600;
    border-radius: 0;

    @include media-breakpoint-down(sm) {
        min-width: 124px;
        font-size: $font-size-sm;
    }

    @include media-breakpoint-up(sm) {
        min-width: 192px;
    }


}

