.carousel {
    margin-left: -1 * ($grid-gutter-width / 2);
    margin-right: -1 * ($grid-gutter-width / 2);

    @include media-breakpoint-up(md) {
        margin-left: 0;
        margin-right: 0;
    }

}

.carousel-control-prev,
.carousel-control-next {
    width: 12%;
    font-size: 0;

    .mod_no-touchevents & {
        &:hover {
            > .mdi {
                background: $primary;
            }
        }
    }

    > .mdi {
        @include font(2rem, 2rem);

        @include media-breakpoint-up(md) {
            @include font(4.8rem, 4.8rem);

            background: rgba($primary, .6);
            transition: $transition-base;
        }
    }
}

.carousel-indicators {
    @include media-breakpoint-down(md) {
        display: none;
    }

    li {
        background: rgba($primary, .35);

        &.active {
            background: $primary;
        }
    }
}
