.modal-dialog {
    @include media-breakpoint-up(md) {
        max-width: 54rem;
    }

    &--idea {
        @include media-breakpoint-up(md) {
            max-width: 84rem;
        }
    }
}

.modal-content {
    border-radius: 0;
}
modal-header,
.modal-body,
.modal-footer{
    padding-left: 0;
    padding-right: 0;
}

.modal-close {
    position: absolute;
    top: 0;
    right: 0;
}
