.modal-dialog {
    @include media-breakpoint-up(md) {
        max-width: 54rem;
    }

    &--idea {
        @include media-breakpoint-up(md) {
            max-width: 84rem;
        }
    }
}

.modal-content {
    border-radius: 0;
}
.modal-header,
.modal-body,
.modal-footer{
    padding: 0;
    border: 0;
}

.modal-header {
    padding-bottom: 1.5rem;
    border-bottom: 1px solid $gray-300;
}

.modal-body {
    margin: 1.6rem 0;
}

.modal-close {
    position: absolute;
    top: 0;
    right: 0;
}
