#feedback.modal.fade(tabindex='-1' role='dialog' aria-labelledby='feedback' aria-hidden='true')
    .modal-dialog(role='document')
        form.modal-content.p-2.p-md-5
            .modal-header.d-block
                h5.modal-title.mb-3.text-uppercase.font-weight-bold Написать пользователю
                a.user-card.d-flex.align-items-center(href='#')
                    .user-card-image.mr-2
                        img(src='https://via.placeholder.com/54X54/000000/FFFFFF/?text=Username' alt='username')
                    small Avramenko Sergey

                button.button-icon.modal-close(type='button', data-dismiss='modal' aria-label='Close')
                    i.mdi.mdi-close(aria-hidden='true')
            .modal-body

                .form-group
                    p.m-0 Все поля обязательны для заполнения.

                .form-group
                    input.form-control(type='text' placeholder='Тема (до 100 символов)')

                .form-group.m-0
                    textarea.form-control(placeholder='Текст сообщения)')

            .modal-footer.justify-content-start
                button.btn.btn-primary.w-100(type='button') Отправить


#feedback-2.modal.fade(tabindex='-1' role='dialog' aria-labelledby='feedback' aria-hidden='true')
    .modal-dialog(role='document')
        form.modal-content.p-2.p-md-5
            .modal-header.d-block
                h5.modal-title.text-uppercase.font-weight-bold Сообщение отправлено

                button.button-icon.modal-close(type='button', data-dismiss='modal' aria-label='Close')
                    i.mdi.mdi-close(aria-hidden='true')
            .modal-body

                .form-group.m-0
                    p.m-0 Сообщение отправлено пользователю Avramenko Sergey


            .modal-footer.justify-content-start
                button.btn.btn-primary.w-100(type='button' data-dismiss='modal' aria-label='Close') Закрыть
