#exampleModalLong.modal.fade(tabindex='-1', role='dialog', aria-labelledby='exampleModalLongTitle', aria-hidden='true')
    .modal-dialog(role='document')
        .modal-content.p-2.p-md-5
            .modal-header.p-0
                h5#exampleModalLongTitle.modal-title.text-uppercase.mb-2.font-weight-bold Войти
                button.button-icon.modal-close(type='button', data-dismiss='modal' aria-label='Close')
                    i.mdi.mdi-close(aria-hidden='true')
            .modal-body.py-3
                form
                    .form-group
                        input#exampleInputEmail1.form-control(type='email' placeholder='Электронная почта')
                    .form-group
                        input#exampleInputPassword1.form-control(type='password' placeholder='Пароль')
                    .form-group
                        .row
                            .col-6
                                label.form-group.form-check.mb-0(for='exampleCheck1')
                                    input#exampleCheck1.form-check-input(type='checkbox')
                                    span.form-check-label.ml-1 Запомнить

                            .col-6
                                .form-group.text-right.mb-0
                                    a(href='#') Забыли пароль?
                    .form-group.text-center или через социальные сети:

                    +social_button_grid('justify-content-center')




            .modal-footer.py-3
                button.btn.btn-primary(type='button') Продолжить
