#password-popup.modal.fade(tabindex='-1' role='dialog' aria-labelledby='password popup' aria-hidden='true')
    .modal-dialog(role='document')
        form.modal-content.p-2.p-md-5
            .modal-header.p-0
                h5.modal-title.text-uppercase.mb-2.font-weight-bold Сброс пароля
                button.button-icon.modal-close(type='button', data-dismiss='modal' aria-label='Close')
                    i.mdi.mdi-close(aria-hidden='true')
            .modal-body.py-3
                    .form-group
                        p Введите адрес Вашей электронной почты и на него будет выслана инструкция по сбросу текущего пароля:
                    .form-group
                        input.form-control(type='email' placeholder='user@domain.com')
                    .form-group.m-0.text-center
                        a(href='#') Войти
                        | &nbsp;или&nbsp;
                        a(href='#') Зарегистрироваться



            .modal-footer.pt-3.justify-content-start
                button.btn.btn-primary.w-100(type='button') Продолжить
